$color_1: white;
$color_2: #E8E6E6;
$color_3: black;
$color_4: #5B5552;
$color_5: #7795A8;
$font-family_1: 'Kanit', sans-serif;
$background-color_1: white;
$background-color_2: #A4B4BF;
$background-color_3: #7795A8;
$background-color_4: #F8F6F1;
$background-color_5: #E8E6E6;
$background-color_6: #F6F1ED;

body {
	margin: 0px;
	font-family: $font-family_1;
}
a {
	text-decoration: none;
	color: $color_1;
}
.navbar {
	padding: 2em 5em 2em 5em;
	font-weight: 500;
	font-size: 1.2em;
	border-bottom: 2px solid #dbdada;
}
.navbar-links {
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
	}
	li {
		list-style: none;
	}
}
.toggle-button {
	position: absolute;
	top: 1.75rem;
	right: 2rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
	.bar {
		height: 3px;
		width: 100%;
		background-color: $background-color_1;
		border-radius: 10px;
	}
}
.page {
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.page-1 {
	background-color: $background-color_2;
	background-image: url(../img/poko.png);
	background-position: center; /* Center the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	.container {
		position: relative;
		display: flex;
		flex-direction: column;
		text-align: center;
		color: $color_1;
		height: 100%;
		justify-content: center;
		align-items: center;
		z-index: 3;
		h1 {
			font-size: 3rem;
			margin: 0;
			letter-spacing: 0.05em;
		}
		h2 {
			font-size: 2.5rem;
			margin: 0;
			color: $color_2;
			margin-bottom: 0.5em;
		}
		button {
			font-size: 0.75em;
			width: 15em;
			height: 3.5em;
			border: 0px;
			border-radius: 20px;
			letter-spacing: 0.1em;
		}
	}
}
.page-2 {
	background-color: $background-color_3;
	position: relative;
	z-index: 3;
	.container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		img {
			max-height: 100%;
			max-width: 40vw;
		}
		.text {
			padding: 4em;
			display: flex;
			flex-direction: column;
			text-align: start;
			justify-content: center;
		}
		h2 {
			margin: 0;
			color: $color_4;
		}
	}
}
#aboutme {
	font-size: 4.5em;
	color: $color_3;
}
#name {
	font-size: 3em;
}
.page-3 {
	background-color: $background-color_4;
	.container {
		padding: 5em;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		height: 100%;
		h2 {
			font-size: 3em;
		}
		p {
			font-size: 1.5em;
		}
	}
}
.page-4 {
	background-color: $background-color_2;
	justify-content: center;
	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		h2 {
			font-size: 3.25em;
			margin: 0;
			margin-top: 1.5em;
		}
		h3 {
			font-size: 1.75em;
			margin: 0;
		}
		h4 {
			font-size: 1.25em;
			margin: 0;
		}
		.box {
			display: flex;
			flex-direction: column;
			gap: 2em;
			justify-content: center;
		}
		.flex-row {
			display: flex;
			flex-direction: row;
			gap: 2em;
			align-items: center;
		}
		img {
			height: 150px;
			width: 100px;
			object-fit: cover;
		}
	}
}
.page-5 {
	background-color: $background-color_5;
	justify-content: center;
	.container {
		padding: 5em 10em 5em 10em;
		.row {
			display: flex;
			justify-content: center;
		}
		h2 {
			font-size: 3.25em;
			margin: 0;
			margin-top: 1.5em;
			text-align: center;
		}
		a {
			color: $color_3;
			font-size: 1.25em;
		}
		p {
			margin: 0.25em;
		}
		.title {
			font-weight: 900;
			font-size: 1.5em;
		}
	}
}
ul.timeline {
	list-style-type: none;
	position: relative;
	margin-bottom: 50px;
	&:before {
		content: ' ';
		background: #d4d9df;
		display: inline-block;
		position: absolute;
		left: 29px;
		width: 2px;
		height: 100%;
		z-index: 400;
	}
	>li {
		margin: 20px 0;
		padding-left: 20px;
		&:before {
			content: ' ';
			background: white;
			display: inline-block;
			position: absolute;
			border-radius: 50%;
			border: 3px solid #12356e;
			left: 20px;
			width: 20px;
			height: 20px;
			z-index: 400;
		}
	}
}
.page-6 {
	background-color: $background-color_3;
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 4em;
}
.page-7 {
	background-color: $background-color_5;
	justify-content: center;
	align-items: center;
	padding: 3em;
	height: 100vh;
	display: flex;
	.container {
		display: flex;
		flex-wrap: wrap;
		gap: 3em;
		justify-content: center;
		align-items: center;
		text-align: center;
		>.flex-row-item {
			flex: 1 1 30%;
		}
		h3 {
			font-size: 1.5em;
			margin: 0px;
		}
		h4 {
			margin: 0px;
		}
	}
	a {
		color: $color_5;
	}
}
.page-8 {
	background-image: url(../img/poko2.png);
	background-position: center; /* Center the image */
	background-size: contain; /* Resize the background image to cover the entire container */
	background-repeat: no-repeat;
	background-color: #A4B4BF;
	background-color: $background-color_3;
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 4em;
}
.page-9 {
	background-color: $background-color_6;
}
.page-10{
	background-image: url(../img/poko3.png);
	background-position: 80%; /* Center the image */
	background-size: contain; /* Resize the background image to cover the entire container */
	background-repeat: no-repeat;
	background-color: $background-color_2;
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 4em;
}
.page-11{
	background-color: #f2f2f2;
	justify-content: center;
	span {
		display: inline-block;
		width: 50px;
		height: 5px;
		background-color: #c42d32;
		margin-bottom: 30px;
	 }
	 
	 img {
		width: 100%;
	 }
	 
	 h1 {
		font-weight: 600;
		font-size: 36px;
		margin: 0 0 15px;
	 }
	 
	 p {
		font-weight: 400;
		line-height: 24px;
		margin: 0 0 15px 0;
	 }
	 
	 a {
		text-decoration: none;
		text-transform: uppercase;
		color: #2D58C4;
		font-weight: bold;
		font-size: 12px;
		position: relative;
		display: inline-block;
		z-index: 1;
		padding: 5px;
		left: -5px;
	 }
	 
	 a:hover {
		color: #2D58C4;
	 }
	 
	 a::before {
		content: '';
		z-index: -1;
		 position: absolute;
		 top: calc(50%);
		 left: 0;
		 width: 100%;
		 height: 40%;
		 pointer-events: none;
		 background: #B7CCFF;
		 transform: scale3d(0,1,1);
		 transform-origin: 0% 50%;
		 transition: transform 0.33s;
	 }
	 
	 a:hover::before {
		transform: scale3d(1,1,1);
		 transform-origin: 0% 50%;
	 }
	 
	 div.site {
		background-color: #f2f2f2;
		display: flex;
		align-items: center;
		justify-content: center;
	 }
	 
	 
	 div.container {
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 30px;
		box-shadow: 0 8px 16px rgba(black, .45);
	 }
	 
	 div.img {
		height: 300px;
		width: 100%;
		background-position: center;
		background-size: cover;
	 }
	 #img1{
		background: url("../img/microbit.jpg");
		background-position: center;
		background-size: cover;
	}
	#img2{
		background: url("../img/sairahus.jpg");
		background-position: center;
		background-size: cover;
	}
	#img3{
		background: url("../img/catloverclub.jpg");
		background-position: center;
		background-size: cover;
	}
	#img4{
		background: url("../img/wcfthailand.jpg");
		background-position: center;
		background-size: cover;
	}
	 
	 div.text-container {
		margin: 60px 45px 55px;
	 }
	 @media screen and (max-width: 1130px){
		h1{
			font-size: 4vw;
		}
		p{
			font-size: 3vw;
		}
	 }
	 
	 @media screen and (min-width: 768px) {
		
	   div.container {
		 flex-direction: row;
		  width: 100%;
	   }
		
		div.img {
		   height: 420px;
		   min-width: 360px;
		}
		
		div.text-container {
		   margin: 0 60px;
		   max-width: 660px;
		}
	 }
	 
	 @media screen and (min-width: 1024px) {
		div.container {
		   max-width: 1200px;
		}
	 }
	 
	 @media screen and (min-width: 1200px) {
	 }
}
.page-12 {
	background-image: url(../img/pokogluay.png);
	background-position: center; /* Center the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	background-color: #A4B4BF;
	display: flex;
	justify-content: space-evenly;
	font-size: 4em;
	padding: 1em 2em 1em 2em;
	color:#3d3e3e;
	h2{
		font-size: .75em;
		border-bottom: 2px solid black;
	}
	h3{
		font-size: 0.5em;
		padding-bottom: 0.5em;
		margin: 0;
	}
	h4{
		font-size: 0.4em;
		margin: 0;
	}
	#resume{
		margin-top: 0.5em;
	}
	.fa {
		font-size: .75em;
		padding: 15px;
		text-align: center;
		text-decoration: none;
	  }
}
@media (max-width: 1330px){
	.page-9 .tl-year p{
		font-size: 2vw;
	}
	.page-9 .tl-content h1{
		font-size: 1.75vw;
	}
	.page-9 .tl-content{
		font-size: 1.5vw;
	}
}
@media (max-width: 540px) {
	.toggle-button {
		display: flex;
	}
	.navbar-links {
		display: none;
		width: 100%;
		ul {
			width: 100%;
			flex-direction: column;
		}
		li {
			text-align: center;
			a {
				padding: .5rem 1rem;
			}
		}
	}
	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}
	.navbar-links.active {
		display: flex;
	}
}
@media (max-width: 1035px) {
	.page-2 {
		.container {
			img {
				width: 100%;
				height: auto;
				max-width: 100vw;
			}
			h2#aboutme {
				font-size: 7vw;
			}
			h2#name {
				font-size: 5vw;
			}
			h2 {
				font-size: 3vw;
			}
		}
	}
	#aboutme {
		font-size: 1em;
		color: $color_3;
	}
}
@media (max-width: 670px) {
	.page-3 {
		.container {
			padding: 2em;
			h2 {
				font-size: 5vw;
			}
			p {
				font-size: 4vw;
			}
		}
	}
}
@media (max-width: 740px) {
	.page-4 {
		.container {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 3em;
			h2 {
				font-size: 2em;
				margin: 0;
			}
			h3 {
				font-size: 1em;
				margin: 0;
			}
			h4 {
				font-size: 0.7em;
				margin: 0;
			}
		}
	}
}
@media (max-width: 800px) {
	.page-5 {
		.container {
			padding: 0;
			h2 {
				font-size: 1.5em;
			}
			.title {
				text-align: center;
				font-size: 0.85em;
			}
			a {
				font-size: 0.75em;
			}
			p {
				font-size: 0.5em;
			}
		}
	}
	.page-6 {
		font-size: 7vw;
	}
	.page-8 {
		font-size: 7vw;
	}
	.page-10 {
		font-size: 7vw;
	}
}
@media (max-width: 560px) {
	.page-7 {
		height: auto;
		.container {
			>.flex-row-item {
				flex-direction: column;
				flex: auto;
			}
			h3 {
				font-size: 1em;
				margin: 0px;
			}
		}
	}
	.page-12{
		padding: 1em;
		
		h2{
			font-size: 10vw;
			border-bottom: 2px solid black;
		}
		h3{
			font-size: 6vw;
			padding-bottom: 0.5em;
			margin: 0;
		}
		h4{
			font-size: 5vw;
			margin: 0;
		}
		.fa {
			font-size: 10vw;
		  }
	}
}
//Page 9
body {
	font-family: 'Source Sans Pro',Helvetica Neue,Helvetica,Arial,sans-serif; 
	font-size: 16px;
	line-height: 1.75;
  }
  
  #timeline {
	display: flex;
	background-color: #031625;
  
	&:hover {
	  .tl-item {
		width: 23.3333%;
	  }
	}
  }
  
  .tl-item {
	transform: translate3d(0, 0, 0);
	position: relative;
	width: 25%;
	height: 100vh;
	min-height: 600px;
	color: #fff;
	overflow: hidden;
	transition: width 0.5s ease;
	
	&:before, &:after {
	  transform: translate3d(0, 0, 0);
	  content: '';
	  position: absolute;
	  left: 0; top: 0;
	  width: 100%; height: 100%;
	}
  
	&:after {
	  background: transparentize(#031625, 0.15);
	  opacity: 1;
	  transition: opacity 0.5s ease;
	}
  
	&:before {
	  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 75%);
	  z-index: 1;
	  opacity: 0;
	  transform: translate3d(0, 0, 0) translateY(50%);
	  transition: opacity 0.5s ease, transform 0.5s ease;
	}
  
	&:hover {
	  width: 30% !important;
	  
	  &:after {
		opacity: 0;
	  }
  
	  &:before {
		opacity: 1;
		transform: translate3d(0, 0, 0) translateY(0);
		transition: opacity 1s ease, transform 1s ease 0.25s;
	  }
	  
	  .tl-content {
		opacity: 1;
		transform: translateY(0);
		transition: all 0.75s ease 0.5s;
	  }
  
	  .tl-bg {
		filter: grayscale(0);
	  }
	}
  }
  
  .tl-content {
	transform: translate3d(0, 0, 0) translateY(25px);
	position: relative;
	z-index: 1;
	text-align: center;
	margin: 0 1.618em;
	top: 55%;
	opacity: 0;
	
	h1 {
	  font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
	  text-transform: uppercase;
	  color: #1779cf;
	  font-size: 1.44rem;
	  font-weight: normal;
	}
  }
  
  .tl-year {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 1;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	
	p {
	  font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
	  font-size: 1.728rem;
	  line-height: 0;
	}
  }
  
  .tl-bg {
	transform: translate3d(0, 0, 0);
	position: absolute;
	width: 100%; height: 100%;
	top: 0; left: 0;
	background-size: cover;
	background-position: center center;
	transition: filter 0.5s ease;
	filter: grayscale(100%);
  }
